* {
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;

  background-color:rgb(21, 139, 213);
  height: 86px;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  height: 100%;
  padding: 28px 36px;
  text-decoration: none;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  z-index: 999;
  line-height: 19.6px;
  padding-left: 50px;

}

/* Change the color of links on hover */
.topnav a:hover {

  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  font-size: 30px;
}

.topnav button{
  float: left;
  width: 02%;
  padding: 10px;
  background: white;
  color: blue;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  margin-top: 20px;

}
.topnav button::after {
  content: "";
  clear: both;
  display: table;
}
.topnav .btn{
  width: 10%;
}

.floating-part-topnav {
  display: flex;
  justify-content: flex-end;
  margin-right: 75px;
}

.center {
  text-align: center;
}

#product-list {
  padding: 0.5% 3%;
  text-align: center;
}

.product-table-head {
  padding-top: 5px;
  border-bottom: 6px solid rgb(21, 139, 213);
  background-color: lightgrey;
}

.admin-product-image {
  width: 175px;
  height: 175px;
  padding: 5% 10%;
}

.btn-padding {
  padding: 4% 3%;
}

#add-product {
  padding: 0.5% 8%;
}

.product-details {
  padding-right: 15%;
}
